.wrapper {
    position: absolute;

    background: none;
    margin-top: 100px;
    width: 100%;
    height: calc(100% - 100px);
    min-height: calc(100vh - 100px);
}

.container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

@media (max-width: 768px) {
    .wrapper {
        margin-top: 80px;
        height: calc(100% - 80px);
        min-height: calc(100vh - 80px);
    }
}


